<% if @courses.empty? %>
  <span>
    Sorry, there aren't any courses yet...
  </span>
<% else %>
  <table class="table index">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Start Date
        </th>
        <th>
          End Date
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @courses %>
    </tbody>
  </table>
<% end %>
