<% connected = current_user.connected?(student) %>
<tr>
  <td class="for-hire">
    <% if student.for_hire? %>
      <i class="icon-ok icon-large"></i>
    <% end %>
  </td>
  <td class="name">
    <%= render "student_link", locals: {connected: connected, student: student } %>
  </td>
  <td class="skills"><%= student.skills %></td>
  <td class="courses">
    <ul>
      <% student.courses.each do |course| %>
        <li><%= course.title %></li>
      <% end %>
    </ul>
  </td>
  <%= render "student_actions", locals: {connected: connected, student: student } %>
</tr>
