<% connected = current_user.connected?(student) %>
<tr>
  <% unless current_user.has_role? :student %>
    <td class="for-hire">
      <% if student.profile.for_hire? %>
        <i class="icon-ok icon-large"></i>
      <% end %>
    </td>
  <% end %>
  <td class="name">
    <%= name_cell student %>
  </td>
  <td class="skills"><%= student.profile.get_all_skills.blank? ? "" : student.profile.get_all_skills %></td>
  <td class="courses">
    <ul>
      <% student.courses.each do |course| %>
        <li><%= link_to course.title, course_path(course) %></li>
      <% end %>
    </ul>
  </td>
  <td class="actions">
    <%= action_cell student %>
  </td>
</tr>
