<tr>
  <td class="for-hire">
    <% if student.for_hire? %>
      <i class="icon-ok icon-large"></i>
    <% end %>
  </td>
  <td class="name"><%= link_to student.name, student_path(student) %></td>
  <td class="skills"><%= student.skills %></td>

  <% unless current_user.admin? %>
    <td><% if current_user.has_contacted? student %>
        <button class="btn disabled">Pending</button>
      <% else %>
        <%= button_to "Contact",
          { controller: "relationships", action: "create", student_id: student.id },
          class: "btn btn-primary", form_class: "contact-button" %>
      <% end %>
    </td>
  <% end %>
</tr>
