<div class="row">
	<h1>Code Fellows Students</h1>
</div>

<div class="row">
	<% if @students.empty? %>
	Sorry, there aren't any students here yet...
	<% else %>
	<table id="students" class="table">
		<thead>
			<tr>
				<th>For Hire</th>
				<th class="sort" data-sort="name">Name</th>
				<th>Skills</th>
				<th class="input-prepend">
					<span class="add-on"><i class="icon-filter"></i></span>
					<input id="student-filter" type="text" class="search input-medium" placeholder="Filter Students" />
				</th>
			</tr>
		</thead>
		<tbody class="list">
			<%= render @students %>
		</tbody>
	</table>
	<% end %>
</div>

<script>
	var options = {
	  valueNames: ['name', 'skills']
	};

	var studentsList = new List('students', options);
</script>
