<div class="row-fluid">
  <h1>Code Fellows Students</h1>
</div>

<div class="row-fluid">
  <% if @students.empty? %>
  Sorry, there aren't any students here yet...
  <% else %>
  <table id="students" class="table index condensed">
    <thead>
      <tr>
        <th>For Hire</th>
        <th>Name
          <button id="name-filter-show" class="btn btn-info btn-mini">
            <i class="icon-filter toggle"></i>
          </button>
          <div id="name-filter" class="filter input-append">
            <input type="text" class="search input-small" placeholder="Filter by name" />
            <button id="clear-name" class="btn"><i class="icon-remove"></i></button>
          </div>
        </th>
        <th>Skills
            <button id="skills-filter-show" class="btn btn-info btn-mini">
              <i class="icon-filter toggle"></i>
            </button>
          <div id="skills-filter" class="filter input-append">
            <input type="text" class="search input-medium" placeholder="Filter by skills" />
            <button id="clear-skills" class="btn"><i class="icon-remove"></i></button>
          </div>
        </th>
        <th>Courses
          <button id="courses-filter-show" class="btn btn-info btn-mini">
            <i class="icon-filter toggle"></i>
          </button>
          <div id="courses-filter" class="filter input-append">
            <input type="text" class="search input-medium" placeholder="Filter by courses" />
            <button id="clear-courses" class="btn"><i class="icon-remove"></i></button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="list">
      <%= render partial: "student", collection: @students %>
    </tbody>
  </table>
  <% end %>
</div>

<script>
  var studentsList;

  function MultiFilter(searchClasses) {
    return function(e) {
      studentsList.filter(function(item){

        var keepItem = true;
        searchClasses.forEach(function(searchClass){
          var cellText = $(item.elm).find('td.' + searchClass).text().toLowerCase();
          var searchString = $('#' + searchClass + '-filter input').val().toLowerCase();
          if(cellText.search(searchString) === -1) {
            keepItem = false;
            return;
          }
        });
        console.log(keepItem);
        return keepItem;
      });
    }
  }

  $(document).ready(function(){
    var listOptions = {
      valueNames: ['name'],
      searchClass: 'search-stuff'
    }
    studentsList = new List('students', listOptions);

    var filterAll = MultiFilter(['name', 'skills', 'courses']);

    var $nameFilter = $('#name-filter');
    var $skillsFilter = $('#skills-filter');
    var $coursesFilter = $('#courses-filter');

    $nameFilter.find('input').on('input', filterAll);
    $skillsFilter.find('input').on('input', filterAll);
    $coursesFilter.find('input').on('input', filterAll);

    // Callbacks for showing filter input box
    $('#name-filter-show').on('click', function(){
      $(this).hide();
      $nameFilter.slideDown(300);
      $nameFilter.find('input').focus();
    });
    $('#skills-filter-show').on('click', function(){
      $(this).hide();
      $skillsFilter.slideDown(300);
      $skillsFilter.find('input').focus();
    });
    $('#courses-filter-show').on('click', function(){
      $(this).hide();
      $coursesFilter.slideDown(300);
      $coursesFilter.find('input').focus();
    });

    // Callbacks for clearning inputs
    $('#clear-name').on('click', function(){
      $nameFilter.find('input').val('');
      $nameFilter.find('input').trigger('input');
      $nameFilter.slideUp(300);
      $('#name-filter-show').show();
    });
    $('#clear-skills').on('click', function(){
      $skillsFilter.find('input').val('');
      $skillsFilter.find('input').trigger('input');
      $skillsFilter.slideUp(300);
      $('#skills-filter-show').show();
    });
    $('#clear-courses').on('click', function(){
      $coursesFilter.find('input').val('');
      $coursesFilter.find('input').trigger('input');
      $coursesFilter.slideUp(300);
      $('#courses-filter-show').show();
    });
  });
</script>
