<div class="row-fluid">
  <h1>Manage Connections</h1>
</div>

<div class="row-fluid">
  <table id="relationships" class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Partner</th>
        <th>Student</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @relationships %>
    </tbody>
  </table>
</div>

<script>

</script>