<tr>
  <td class="title"><%= link_to course.title, course_path(course) %></td>
  <td><%= course.start_date.to_formatted_s(:month_abrv_verbose) %></td>
  <td><%= course.end_date.to_formatted_s(:month_abrv_verbose) %></td>
</tr>
