$sansFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;

@import "bootstrap";
@import "flatten-bootstrap";
@import "font-awesome";

body {
  padding-top: 40px;
}

.base.container{
  padding-top: 20px;
}

.connect-button {
	margin: 0;
}

.sort {
	cursor: pointer;
}

td.for-hire {
	width: 3em;
}

table.index tbody>tr:nth-child(odd){ background-color:#ffe; }
table.index tbody>tr:nth-child(even){ background-color:#fff; }

#error_explanation li {
	color: $red;
}

#corner_logo{
  padding-top: 3px;
  position: absolute;
  padding-left: 20px !important;
  height: 90px;
}

.navbar-inverse .brand{
  color: $white;
}
.alert span{
  margin-left: 100px
}

.landing{
  background-color: rgba(0, 0, 0, 0.85);
  color: $white;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index:-999999;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.normal {
  font-size: 14px;
  line-height: 16px !important;
}
