$sansFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;

@import "bootstrap";
@import "flatten-bootstrap";
@import "font-awesome";

body {
  padding-top: 60px;
}

.contact-button {
	margin: 0;
}

.sort {
	cursor: pointer;
}

td.for-hire {
	width: 3em;
}

tbody>tr:nth-child(odd){ background-color:#ffe; }
tbody>tr:nth-child(even){ background-color:#fff; }

