$sansFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;

@import "bootstrap";
@import "flatten-bootstrap";
@import "font-awesome";

body {
  padding-top: 40px;
}

.base.container{
  padding-top: 20px;
}

.contact-button {
	margin: 0;
}

.sort {
	cursor: pointer;
}

td.for-hire {
	width: 3em;
}

tbody>tr:nth-child(odd){ background-color:#ffe; }
tbody>tr:nth-child(even){ background-color:#fff; }

#error_explanation li {
	color: $red;
}

#corner_logo{
  padding-top: 3px;
  position: absolute;
  padding-left: 20px !important;
  height: 90px;
}

.navbar-inverse .brand{
  color: $white;
}
.alert span{
  margin-left: 100px
}

.landing{
  background-color: rgba(0, 0, 0, 0.7);
  color: $white;
}